@use 'vars/colors' as *
@use 'vars/fonts' as *

.botonBannerHeader
    // bottom: 0.25rem
    // top: auto
    z-index: 10
    &::before
        content: ''
        background: url('/images/arrow1.svg') no-repeat
        background-size: contain
        background-position: center
        width: 45px
        height: 82px
        display: block
    &.stickRight
        right: 2rem
        @media screen and (min-width: 992px)
            right: 5rem
    &.stickLeft
        left: 1rem
        @media screen and (min-width: 992px)
            left: 3rem
        &::before
            transform: scale(-1)

.stickLeft
    left: 0rem
    border: 0px solid red
.stickRight
    right: 0rem
    border: 0px solid red
.containerBanner
    // border: 1px solid red
    // background: red
    margin-top: -300px
    position: relative
    height: 95vh
    // overflow: hidden
    @media screen and (min-width: 800px)
        height: 60vh
    @media screen and (min-width: 992px)
        height: 80vh
    @media screen and (min-width: 1200px)
        height: 100vh
    .containerCarrusel
        width: 100%
        height: 100%
        .itemsCarrusel
            width: 100%
            height: 90vh
            // background: blue
            display: flex
            justify-content: flex-end
            align-items: center
            flex-direction: column
            @media screen and (min-width: 800px)
                height: 60vh
            @media screen and (min-width: 992px)
                height: 80vh
            @media screen and (min-width: 1200px)
                height: 100vh
            picture
                display: flex
                justify-content: center
            img
                width: 80%
                height: auto
                object-fit: contain
                object-position: center center
                @media screen and (min-width: 800px)
                    width: 75%
                @media screen and (min-width: 992px)
                    width: 70%
                @media screen and (min-width: 1200px)
                    width: 70%
                @media screen and (min-width: 1400px)
                    width: 70%
