@use 'vars/colors' as *
@use 'vars/fonts' as *
.containerFooter
    background-image: url('/images/bgFooterBody.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: top top
    position: relative
    width: 100%
    z-index: 11
    padding: 2rem 0 2rem 0
    box-sizing: border-box
    .imageBackGround
        position: absolute
        top: -5rem
        left: 0
        width: 100%
        object-fit: contain
        z-index: 10
        height: auto
    .gridContainer
        position: relative
        z-index: 10
        p
            color: white
            font-size: .75rem
        a,
        h2,
        span
            color: white
            font-size: .875rem
            text-decoration: none
        a
            transition: .5s color ease-in-out
            &:hover
                color: $verdeLimon

        > div
            padding: 2rem 0 0 0
            &:nth-of-type(1)
                grid-column: 1 / -1
                order: 2
                padding: 0
                @media screen and (min-width: 992px)
                    grid-column: 1 / span 3
                    order: 1
                    padding: 0
                p
                    color: white
                    font-size: 0.875rem
            &:nth-of-type(2)
                @media screen and (min-width: 992px)
                    order: 2
                    grid-column: 4 / span 2
                    display: flex
                    flex-direction: column
                    justify-content: flex-start
                    align-content: flex-start
                    gap: .5rem
            &:nth-of-type(3)
                @media screen and (min-width: 992px)
                    order: 2
                    grid-column: 7 / span 3
                    display: flex
                    flex-direction: column
                    justify-content: flex-start
                    align-content: flex-start
                    gap: .5rem
                .boxReclamaciones
                    a
                        display: flex
                        justify-content: flex-start
                        align-items: center
                        flex-wrap: no-wrap
                        gap: .5rem
                        span
                            transition: .5s color ease-in-out
                        &:hover
                            span
                                color: $verdeLimon
            &:nth-of-type(4)
                grid-column: 10 / -1
                order: 1
                display: flex
                justify-content: center
                align-items: flex-start
                gap: 1rem
                padding: 3rem 0 0 0
                @media screen and (min-width: 992px)
                    order: 2
                    grid-column: 11 / -1
                    justify-content: flex-start
                    padding-bottom: 1.5rem
