@import 'vars/colors'
@import 'vars/fonts'

.imageRasgado1,
.imageRasgado2
    position: absolute
    z-index: 10
.imageRasgado1
    top: 44rem
    left: 0
    width: 650px
    object-fit: contain
    @media screen and (min-width: 1400px)
        top: 48rem
        width: 740px
.imageRasgado2
    top: 60rem
    right: 0
    width: 270px
    object-fit: contain
    @media screen and (min-width: 1400px)
        top: 65rem
        width: 380px
.containerPremios
    padding-top: 15rem
    .gridContainer
        > div
            &:nth-of-type(1)
                grid-column: 1 / span 3
                padding-top: 5rem
                p
                    color: white
                    font-size: 1rem
                    @media screen and (min-width: 1400px)
                        font-size: 1.125rem
                h2
                    font-size: 6rem
                    color: white
                    line-height: .85em
                    span
                        position: relative
                        &.txtVerde
                            color: $verdeLimon
                    .sticker
                        position: absolute
                        top: -4.5rem
                        left: -3.5rem
                    @media screen and (min-width: 1400px)
                        font-size: 7.4rem

            &:nth-of-type(2)
                grid-column: 4 / -1
                display: flex
                justify-content: flex-start
                align-content: flex-start
                gap: 1rem
                .itemPremio
                    position: relative
                    border: 0px solid red
                    height: 460px
                    flex: 1 50%
                    @media screen and (min-width: 1400px)
                        height: 540px
                    &:nth-of-type(2)
                        margin-top: 5.5rem
                    &:nth-of-type(3)
                        margin-top: 10.5rem
                    .detallePremio
                        text-align: center
                        .imageContainer
                            min-height: 320px
                            display: flex
                            justify-content: flex-end
                            align-items: center
                            flex-direction: column
                            @media screen and (min-width: 1400px)
                                min-height: 380px
                        .footerContent
                            position: relative
                            z-index: 11
                            margin-top: 1.5rem
                            text-align: left
                            padding: 0 2rem 0 2rem
                            h3
                                color: $morado
                                font-size: 1rem
                                @media screen and (min-width: 992px)
                                    font-size: 1rem
                                @media screen and (min-width: 1400px)
                                    font-size: 1.25rem
                            p
                                color: white
                                font-size: 1rem
                                line-height: 1.25em
                                letter-spacing: -.025em
                                @media screen and (min-width: 992px)
                                    font-size: 1rem
                                @media screen and (min-width: 1400px)
                                    font-size: 1.15rem
                    .fondoPremio
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        object-position: center
                        object-fit: cover
                        height: 100%
                    .productoPremio
                        position: relative
                        z-index: 1
                        width: 60%
                        height: auto
                        object-fit: contain
                        &.bigImage
                            width: 90%
                            bottom: 1.5rem
.bgHome
    border: 0px solid red
    position: relative
    // min-height: 90vh
    padding-bottom: 15rem
    margin-top: -6.5rem
    z-index: 10
    @media screen and (min-width: 1400px)
        margin-top: -7.5rem
    .imageBackGround
        position: absolute
        top: 0
        left: 0
        object-fit: cover
        object-position: center top
        width: 100%
        height: 100%
