@use 'vars/colors' as *
@use 'vars/fonts' as *

.graciasBox
    padding: 20rem 0 3rem
.formContainer
    padding-top: 2rem
    form
        .row
            margin-top: 1rem
        .rowGrid
            display: grid
            grid-template-columns: repeat(1,1fr)
            gap: 1rem
            @media screen and (min-width: 992px)
                grid-template-columns: repeat(12,1fr)
            input[type="text"]
                grid-column: 1 / -1
                @media screen and (min-width: 992px)
                    grid-column: 1 / span 6

            button[type="submit"]
                grid-column: 1 / -1
                width: 100%
                height: 52px
                background: $naranja
                border-radius: 40px
                border: 0
                box-shadow: $naranjaOscuro 0px 4px 0px 0px
                color: white
                font-size: 16px
                line-height: 3.25rem
                text-align: center
                text-decoration: none
                @media screen and (min-width: 992px)
                    grid-column: 7 / -1

    label
        font-size: 14px
        color: white
        margin-bottom: .25rem
    input[type="text"],
    input[type="password"]
        font-size: 14px
        color: black
        border: 1px solid $morado
        border-radius: 30px
        height: 52px
        padding: 0 1.5rem
        &:focus
            outline: none
            box-shadow: none
        &::placeholder
            color: $plomo

.suscribeteBox
    position: relative
    z-index: 10
    padding: 0 0 0rem 0
    border: 0px solid red
    .gridContainer
        // padding-top: 20rem
        position: relative
        top: 0rem
        // z-index: 10
        @media screen and (min-width: 992px)
            top: 6rem
        @media screen and (min-width: 1400px)
            top: 6rem
        >div
            &:nth-of-type(1)
                grid-column: 1 / -1
                order: 2
                @media screen and (min-width: 992px)
                    grid-column: 1 /span 6
                    order: 1
                .chicoBox
                    width: 100%
                    height: 100%
                    object-fit: contain
                    position: relative
                    left: -4.5rem
                    top: 1.5rem
                    @media screen and (min-width: 992px)
                        left: -7.5rem
                        width: 120%
                        top: 0
            &:nth-of-type(2)
                grid-column: 1 / -1
                order: 1
                @media screen and (min-width: 992px)
                    grid-column: 7 / -1
                    order: 2
                p
                    @extend %descripcionSuave
                    margin-top: 1rem
                h3
                    @extend %descripcion
                h2
                    @extend %titulares
                    span
                        color: $verdeLimon
